---
// Process Component - Structure exacte Apple
---

<section class="homepage-section collection-module" data-module-template="promos" data-analytics-region="promo">
  <div data-unit-id="process-wpc" data-analytics-section-engagement="name:promo-process">
    <div class="module-content">
      <div class="unit-wrapper">
        <a class="unit-link" href="/contact" target="_self" rel="follow" aria-hidden="true" tabindex="-1">&nbsp;</a>
        <div class="unit-copy-wrapper">
          <h3 class="headline">Comment nous travaillons</h3>
          <p class="subhead">Un processus structuré en 5 étapes<br>pour garantir la réussite de votre projet.</p>
          <div class="cta-links">
            <a class="button button-primary" href="/contact" target="_self" rel="follow" data-analytics-region="learn more" aria-label="Découvrir notre processus">Découvrir notre processus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
