---
// Services Component - Structure exacte Apple
---

<section class="homepage-section collection-module" data-module-template="promos" data-analytics-region="promo">
  <div data-unit-id="services-wpc" data-analytics-section-engagement="name:promo-services">
    <div class="module-content">
      <div class="unit-wrapper">
        <a class="unit-link" href="/contact" target="_self" rel="follow" aria-hidden="true" tabindex="-1">&nbsp;</a>
        <div class="unit-copy-wrapper">
          <h3 class="headline">Domaines d'intervention</h3>
          <p class="subhead">Trois domaines d'intervention<br>pour accompagner vos projets.</p>
          <div class="cta-links">
            <a class="button button-primary" href="/contact" target="_self" rel="follow" data-analytics-region="learn more" aria-label="Nous contacter">Nous contacter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section collection-module" data-module-template="promos" data-analytics-region="promo">
  <div data-unit-id="service-strategie" data-analytics-section-engagement="name:promo-strategie">
    <div class="module-content">
      <div class="unit-wrapper">
        <a class="unit-link" href="/contact" target="_self" rel="follow" aria-hidden="true" tabindex="-1">&nbsp;</a>
        <div class="unit-copy-wrapper">
          <h3 class="headline">Stratégie et communication</h3>
          <p class="subhead">Études de marché, création de portefeuilles clients,<br>élaboration de plans de communication.</p>
          <div class="cta-links">
            <a class="button button-primary" href="/contact" target="_self" rel="follow" data-analytics-region="learn more" aria-label="En savoir plus">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section collection-module" data-module-template="promos" data-analytics-region="promo">
  <div data-unit-id="service-juridique" data-analytics-section-engagement="name:promo-juridique">
    <div class="module-content">
      <div class="unit-wrapper">
        <a class="unit-link" href="/contact" target="_self" rel="follow" aria-hidden="true" tabindex="-1">&nbsp;</a>
        <div class="unit-copy-wrapper">
          <h3 class="headline">Conseil et veille juridique</h3>
          <p class="subhead">Rédaction de documents de référence,<br>appui aux démarches administratives.</p>
          <div class="cta-links">
            <a class="button button-primary" href="/contact" target="_self" rel="follow" data-analytics-region="learn more" aria-label="En savoir plus">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section collection-module" data-module-template="promos" data-analytics-region="promo">
  <div data-unit-id="service-innovation" data-analytics-section-engagement="name:promo-innovation">
    <div class="module-content">
      <div class="unit-wrapper">
        <a class="unit-link" href="/contact" target="_self" rel="follow" aria-hidden="true" tabindex="-1">&nbsp;</a>
        <div class="unit-copy-wrapper">
          <h3 class="headline">Innovation et transformation</h3>
          <p class="subhead">Accompagnement dans vos projets de transformation digitale<br>et de développement de nouveaux produits ou services.</p>
          <div class="cta-links">
            <a class="button button-primary" href="/contact" target="_self" rel="follow" data-analytics-region="learn more" aria-label="En savoir plus">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
