---
// Why Choose Component - Structure exacte Apple
---

<section class="homepage-section collection-module" data-module-template="promos" data-analytics-region="promo">
  <div data-unit-id="why-choose-wpc" data-analytics-section-engagement="name:promo-why-choose">
    <div class="module-content">
      <div class="unit-wrapper">
        <a class="unit-link" href="/contact" target="_self" rel="follow" aria-hidden="true" tabindex="-1">&nbsp;</a>
        <div class="unit-copy-wrapper">
          <h3 class="headline">Pourquoi nous choisir</h3>
          <p class="subhead">Réactivité, expertise étudiante, suivi personnalisé<br>et rapport qualité-prix incomparable.</p>
          <div class="cta-links">
            <a class="button button-primary" href="/contact" target="_self" rel="follow" data-analytics-region="learn more" aria-label="Nous contacter">Nous contacter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
